= form_for [:manager, @lan] do |f|

  .control-group{:class=>"#{'error' unless @lan.errors[:code].empty?}"}
    =f.label :code
    .controls
      =f.text_field :code
      %span
        - if @lan.errors[:code].empty?
          可以参看<a href="https://github.com/svenfuchs/rails-i18n">这里</a>
        - else
          =@lan.errors[:code]

  .control-group{:class=>"#{'error' unless @lan.errors[:link].empty?}"}
    =f.label :link
    .controls
      =f.text_field :link
      %span
        - if @lan.errors[:link].empty?
          须以http://开头， 后面的/不能少
        - else
          =@lan.errors[:link]

  .control-group{:class=>"#{'error' unless @lan.errors[:default].empty?}"}
    .controls
      %label.checkbox
        =f.check_box :default
        %span 默认语言,只能有一个

  .control-group{:class=>"#{'error' unless @lan.errors[:memo].empty?}"}
    =f.label :memo
    .controls
      =f.text_field :memo
      %span
        - if @lan.errors[:memo].empty?
          该代码的中文说明
        - else
          =@lan.errors[:memo]

  .control-group
    .controls
      = f.submit

