%section
  .page-header
    =link_to '新增语言', new_manager_language_path, :class=>'btn btn-success'
  %table
    %thead
      %tr
        %th 编号
        %th 语言代码
        %th 对应网址
        %th 缺省
        %th 说明
        %th 操作
    %tbody
      - @languages.each do |lan|
        %tr
          %td= lan.id
          %td= lan.code
          %td= lan.link
          %td= "<i class='icon-ok'></i>".html_safe if lan.default
          %td= lan.memo
          %td
            =link_to "<i class='icon-pencil'></i>".html_safe, edit_manager_language_path(lan), :class=>'btn btn-mini btn-info'
            =link_to "<i class='icon-remove'></i>".html_safe, manager_language_path(lan), :confirm=>"是否确认删除语言#{lan.memo}?", :method => :delete, :class=>'btn btn-mini btn-danger'
