#content
  .news
    %h2 新闻中心
    %ul
      %li= link_to '2013-01 新闻11111111111111111111111', '#'
      %li= link_to '2013-01 新闻11111111111111111111111', '#'
      %li= link_to '2013-01 新闻11111111111111111111111', '#'
      %li= link_to '2013-01 新闻11111111111111111111111', '#'
      %li= link_to '2013-01 新闻11111111111111111111111', '#'
      %li= link_to '2013-01 新闻11111111111111111111111', '#'
      %li= link_to '2013-01 新闻11111111111111111111111', '#'
      %li= link_to '2013-01 新闻11111111111111111111111', '#'
      %li.more= link_to '更多 »', '#'
  .groups
    %h2 集团成员
    %ul
      %li= link_to '杭州大和热磁', '#'
      %li= link_to '杭州大和热磁', '#'
      %li= link_to '上海申和热磁', '#'
      %li= link_to '杭州大和热磁', '#'
      %li= link_to '上海申和热磁', '#'
      %li= link_to '杭州大和热磁', '#'
      %li= link_to '上海申和热磁', '#'
      %li= link_to '上海申和热磁', '#'
  .other
    .map
      %h2 全球据点
      = image_tag "group.jpg"
    .tech
      %h2 技术动态
      %ul
        %li= link_to "【大和】 技术动态1", '#'
        %li= link_to "【大和】 技术动态2", '#'
        %li= link_to "【大和】 技术动态3", '#'
        %li= link_to "【大和】 技术动态4", '#'
        %li= link_to "【大和】 技术动态5", '#'
        %li= link_to "【大和】 技术动态6", '#'
