#friend-link
  %ul
    %li= link_to t('Link'), '#'
    %li= link_to '博日', '#'
    %li= link_to '友好', '#'

#footer
  %p
    &copy;2013 Ferrotec China 
    = link_to '浙ICP备05003418号', 'http://www.miibeian.gov.cn/'
    = link_to 'login', manager_index_path
