#header
  #header-logo
    %h1
      = link_to 'Ferrotec', root_path
  #header-info
    #sub-nav
      %ul
        %li= link_to t('Ferrotec(China)'), '#'
        %li= link_to t('Ferrotec(Global)'), '#'
        %li= link_to t('Contact us'), '#'
        %li= link_to t('Sitemap'), '#'
        %li.last= language_link
    #site-search
      = form_tag '/search', :method=>:get
      = text_field_tag 'search'
      = submit_tag t("Search")
