#flash
  %embed{:src=>"/home.swf", :width=>"780", :height=>"250", :type=>"application/x-shockwave-flash"}
#menu
  %ul.sf-menu
    %li
      = link_to 'menu1', '#'
      %ul
        %li
          = link_to 'sub_menu11', '#'
          = link_to 'sub_menu12', '#'
    %li
      = link_to 'menu2', '#'
      %ul
        %li
          = link_to 'sub_menu21', '#'
          = link_to 'sub_menu22', '#'
          = link_to 'sub_menu23', '#'
          = link_to 'sub_menu24', '#'
          = link_to 'sub_menu25', '#'
          = link_to 'sub_menu26', '#'
          = link_to 'sub_menu27', '#'
          = link_to 'sub_menu28', '#'
    %li
      = link_to 'menu3', '#'
    %li
      = link_to 'menu4', '#'
    %li
      = link_to 'menu5', '#'
    %li
      = link_to 'menu6', '#'
