!!!
%html
  %head
    %title Ferrotec集团网站
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #container
      = render '/layouts/header'
      = render '/layouts/menu'
      = yield
      = render '/layouts/footer'


